/* Estilos de tu proyecto*/
body{
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}
/*dando los detalles y posición de mi barra*/
header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: linear-gradient(#76278F, #2B1E66);

}
/*dando tamaño a mi barra de navegación*/
nav{
background:linear-gradient(rgba(46, 18, 68, 0.6),transparent);
position: fixed;
color:#fff;
height:100px;
width: 100%;
}
/*eliminando formatos y posicionando los elementos de la lista*/
ul .list1{
list-style:none;
	line-height:40px;
	padding-right:20px;
	text-transform: uppercase;
	
 }
 /*dando propiedades a mis elementos li*/
 .list1 li{
display:inline-block;
position: relative;
left:650px;
bottom: 35px;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
/*dando propiedades a mi botón log in*/
li button{
	border:2px solid white;
	position: relative;
	border-radius: 15%;
	height:45px;
	font-size: 25px;
	top: 5px;
	color: #fff;
	background-color: transparent;
}
/*tamaño de mi logo*/
ul img{
	height:60px;
	width:60px;
}
.image img{
width: 100%;
height:650px;
}
/*dando tamaño a mi contenedor principal*/
.container{
height:1767px;
width:1350px;
max-height: 1767px;
}

/*posicionamiento y tamaño de mi sección uno*/
.box1{
height:430px;
width:549px;
background-color: #fff;	
position: relative;
bottom:580px;
left: 700px;
}
/*dando propiedades y decoracion a mi etiqueta h1 de primera sección*/
.box1 h1{
	font-family:'Montserrat', sans-serif;
font-size:40px;
position: relative;
font-weight: bold;
text-transform: uppercase;
color: #352384;
width:270px;
height: 100px;
left:74px;
top: 55px;
}
/*dando propiedades y decoracion a mi etiqueta h3 de primera sección*/
.box1 h3{
	font-family:'Montserrat', sans-serif;
font-size:16px;
position: relative;
text-transform: uppercase;
color:#352384;
width:280px;
height: 100px;
left:74px;
top: 25px;
font-weight: 300;
}
/*posición de mi formulario*/
 .box1 form{
font-family:'Lato', sans-serif;
position: relative;
left: 65px;
bottom:65px;
}
/*diseño de mi input*/
.box1 form input{
width:450px;
max-width:549px;
height: 60px;    
font-size:20px;
font-weight: 400;
color:#bfc7d9 ;
border: none;
Display: block;
border-bottom: 1px solid #352384;
}
/*posición y diseño de mi botón*/
.box1 button{
	position: relative;
	height:50px;
	width:170px;
	left:60px;
	bottom:45px;
	border: none;
	font-size: 16px;
	color:#fff;
	font-weight:600;
	background-color:#FF00BF;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius:8px; 
}
/*posición de mi vinvulo de la primera sección*/
.box1 a{
	color: #bfc7d9;
	font-size:20px;
	position: relative;
	left: 75px;
	bottom:40px;
}
/*posición de nuestro parrafo con vinculo*/
.box1 p{
font-size:10px;
color:#728099;
position: relative;
left: 55px;
bottom:45px;
}
/*dando diseño de nuestro vinculo de parrafo*/
.box1 p a{
font-size:10px;
color:#FF00BF;
position: relative;
left:15px;
top:-1px;
}
/*tamaño y color de la segunda sección*/
.box2{
	height:556px;
width:100%;
background:linear-gradient(#76278F, #2B1E66);
position: relative;
bottom:500px;
}
/*posicion de  mi titulo de columnas*/
h1{
	position: relative;
	left:159px;
	top:54px;
	color: #fff;	
	font-weight: 500;
	font-size:28px;
	text-transform: uppercase;
}
/*dando posicion y tamaño de mi parrafo de primera columna*/
.column1 p{
font-size: 16px;
color: #fff;
position: relative;
height: 43px;
width: 450px;
left: 161px;
top:45px;
}
/*dando posicion y tamaño de mi parrafo de segunda columna*/
.column2 p{
font-size: 16px;
color: #fff;
position: relative;
height: 43px;
width: 450px;
left: 161px;
top:45px;
}
/*dando posicion y tamaño de mi parrafo de tercera columna*/
.column3 p{
font-size: 16px;
color: #fff;
position: relative;
height: 43px;
width: 450px;
left: 161px;
top:45px;
}
/*tamaño y posición de la imagen de mi segunda sección*/
.image2 img{
width:445px;
height:500px;
position: relative;
left: 628px;
bottom: 350px;
}
/*tamaño de mi tercera sección*/
.box3{
	height:430px;
width:100%;
background-color:#fff;	
position: relative;
bottom: 520px;
}
/*dando posicion a mi etiqueta h1*/
.box3 h1{
position: relative;
left: 40px;
color: #000;
}
/*dando posicion a mi etiqueta p*/
.box3 p{
	position: relative;
	color: #000;
	top: 55px;
	width: 350px;
	text-align: justify;
	left: 15px;
}
/*dando posicion y tamaño de nuestro video de tercera sección*/
.box3 .video1 iframe{
	left: 399px;
	bottom:143px;
	height: 430px;
	width: 950px;
	position: relative;
}
/*tamaño y posicion de mi cuarta sección*/
.box4{
	height:430px;
width:100%;
background-color:#fff;	
position: relative;
bottom:539px;
}
/*posicion de mi etiqueta h1 de mi cuarta seccion*/
.box4 h1{
position: relative;
left:1000px;
color: #000;
}
/*posicion de mi etiqueta p de mi cuarta seccion*/
.box4 p{
	position: relative;
	color:#000;
	bottom: -60px;
	width: 350px;
	text-align: justify;
	left: 980px;
}
/*dando posicion y tamaño de nuestro video de cuarta sección*/
.box4 .video2 iframe{
	bottom:164px;
	height: 430px;
	width: 950px;
	position: relative;
}
/*tamaño y posicion de mi quinta sección*/
.box5{
	height:430px;
width:100%;
background-color:#fff;	
position: relative;
bottom:559px;
}
/*posicion de mi etiqueta h1 de mi quinta seccion*/
.box5 h1{
position: relative;
left:40px;
color: #000;
}
/*posicion de mi etiqueta p de mi quinta seccion*/
.box5 p{
	position: relative;
	color:#000;
	bottom: -60px;
	width: 350px;
	text-align: justify;
	left:40px;
}
/*dando posicion y tamaño de nuestro video de quinta sección*/
.box5 .video3 iframe{
	bottom:145px;
	height: 430px;
	width: 950px;
	left: 400px;
	position: relative;
}
/*tamaño y posicion de mi pie de pagina*/
footer {
	height: 600px;
	width: 100%;
	background-color: #333447;
	position:relative;
	bottom: 559px;
}
/*posicion de mi tabla*/

footer table{
line-height: 30px;
position: relative;

}
/*posicion de las columnas de mi tabla*/
table td{
position:relative;
left:35px; 
color: #fff;
}
/* dando propiedades a mis etiquetas h3 de mi tabla*/
table h3{
font-family: 'Montserrat', sans-serif;
font-size:20px;
padding-left:150px;
color: #fff;
}
/* dando propiedades a mis etiquetas p de mi tabla*/
table p{
font-family:'Montserrat', sans-serif;    
font-size:16px;
position: relative;
left: 155px;
color: #fff;
}
/*dando diseños a los vinculos de la tabla*/
table a{
	color: #fff;
}

/*detalles y decoraciones de los vinculos*/
a:active{
	background-color:#FF00BF;
	color:#fff;
}
a:hover{
color:#FF00BF;
}
a{
	/*quitando decoracion y dando formatos a mis vinculos*/
	display:inline-block;
	text-decoration: none;
}
/*dando tamaño a la primera imagen del pie de pagina*/
 footer .image3 img{
	position: relative;
height: 50px;
width: 150px;
left: 900px;
bottom: 200px;
}
/*dando tamaño a la segunda imagen del pie de pagina*/
footer .image4 img{
	position: relative;
height: 50px;
width: 150px;
left: 900px;
bottom:190px;
}
/*dando tamaño a la tercera imagen del pie de pagina*/
footer .image5 img{
	position: relative;
height: 50px;
width: 150px;
left: 900px;
bottom:180px;
}
/*dando posicion y tamaño de mis iconos*/
footer .icons{
	display: inline-block;
color: #fff;
font-size: 22px;
position: relative;
}
/*propiedades de mi logo de facebook*/
footer .icons .fa-facebook{
	position: relative;
	left: 500px;
border-radius: 100%;
	border: 2px solid white;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;

}
/*propiedades de mi logo de instagram*/
footer .icons .fa-instagram{
	position: relative;
	left: 590px;
	border-radius: 100%;
	border: 2px solid white;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 8px;
	padding-right: 8px;
}
/*propiedades de mi logo de twitter*/
footer .icons .fa-twitter{
	position: relative;
	left: 680px;
		border-radius: 100%;
	border: 2px solid white;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 8px;
	padding-right: 8px;
}
/*dando tamaño a mi linea hr*/
  footer hr{
width:850px;

 }
 /*dando posicion a mi etiqueta p de mi footer*/
footer .term p{
	position: relative;
	left: 555px;
	color:#fff;
}